@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   @* <h1 class="display-4">Welcome</h1>*@
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>

        </div>
        <div class="carousel-inner">
            
            <div class="carousel-item active">
                <img src="~/NiceAdmin/assets/img/image-7.jpg" class="d-block  w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-center display-4">Welcome</h1>
                    <p>We always strive to provide the best possible work and creativity in our field.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/NiceAdmin/assets/img/image-2.jpg" class="d-block  w-100" alt="...">
                
            </div>
            <div class="carousel-item">
                <img src="~/NiceAdmin/assets/img/image-5.jpg" class="d-block  w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/NiceAdmin/assets/img/image-6.jpg" class="d-block  w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/NiceAdmin/assets/img/image_1.jpg" class="d-block  w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-center display-4">Contact Us...</h1>
                    <p>Do not hesitate to contact us so that you do not miss the opportunity.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/NiceAdmin/assets/img/ImageSlide1.jpg" class="d-block  w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/NiceAdmin/assets/img/ImageSlide2.jpg" class="d-block  w-100" alt="...">
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    <p class="mt-5 ">Contact Us <a href="https://www.linkedin.com/in/ahmed-mohamed-gaber-65bb39238/" target=”_blank” type="button" class="btn btn-primary btn-sm">Ahmed_Mohamed</a></p>
</div>
